<div class="header">
    <div class="centreAlign">
        <h1 class="textCenterAlign">Gif Search</h1>

        <div class="textCenterAlign" style="margin: 0 100px;"> <input type="text"
                placeholder='What are you looking for?' (input)="onChanges($event)" id='search-text-input' />
            <div id='button-holder' (click)="searchClick()">
                <i class="fa fa-search" aria-hidden="true"></i>
            </div>
        </div>
        <div class="clearfix"></div>

        <p class="textCenterAlign text1">You can search any gif with our search</p>
        <p class="textCenterAlign text2">Everything you need for your creative projects. websites, banner,
            presentations, magazines and advertising
        </p>
    </div>
</div>