<div class="footer">
    <div class="signup">
        <div class="">
            Sign up and <br /> get free content every week.
        </div>
        <div>
            <input type="text" class="inputtext" placeholder="Enter your email" />
        </div>
        <div class="">
            <button class="signupbtn">Sign Up</button>
        </div>
    </div>
    <div class="categories">
        <p class="categoryTitle">Browse by categories</p>
        <div class="linksClass">
            <ul>
                <li><a href="#">Graphics</a></li>
                <li><a href="#">Templates</a></li>
                <li><a href="#">Forms</a></li>
                <li><a href="#">Templates</a></li>
                <li><a href="#">Textbox</a></li>
            </ul>

            <ul>
                <li><a href="#">Vectors</a></li>
                <li><a href="#">Forms</a></li>
                <li><a href="#">Templates</a></li>
                <li><a href="#">Forms</a></li>
                <li><a href="#">Templates</a></li>
            </ul>

            <ul>
                <li><a href="#">SVGS</a></li>
                <li><a href="#">Forms</a></li>
                <li><a href="#">Templates</a></li>
                <li><a href="#">Forms</a></li>
                <li><a href="#">Templates</a></li>
            </ul>

            <ul>
                <li><a href="#">Buttons</a></li>
                <li><a href="#">Forms</a></li>
                <li><a href="#">Templates</a></li>
                <li><a href="#">Forms</a></li>
                <li><a href="#">Alerts</a></li>
            </ul>
        </div>

    </div>
</div>


<div class="footerlinks">
    <div class="links">
        <p style="word-spacing: 10px;">Affiliates / Contributors / Press/Media / Careers / About / Contact</p>

        <div>
            Copyright © 2018 myCompany All rights reserved.
        </div>
    </div>

    <p class="sociallinks">
        <i class="fa fa-facebook"></i>
        <i class="fa fa-google-plus"></i>
        <i class="fa fa-facebook"></i>
        <i class="fa fa-twitter"></i>
    </p>
</div>